name: First Workflow
# on: [workflow_dispatch, push]
on:
  pull_request:
    types:
      - opened
  workflow_dispatch:
  
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: |
          echo "Hello world!"
          echo "Done - bye!"
      #   run: echo "Hello world!"
      # - name: Print goodbye
      #   run: echo "Done - bye!"
